/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.container h1 {
    font-size: 1.5rem;
    color: #333;
    margin: top -1px;
    margin-bottom: 10px;
}

.container p {
    color: #555;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.container .form-group {
    margin-bottom: 20px;
}

.container input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container .reset-button {
    background-color: #7b0e0e;
    color: #fff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.container .reset-button:hover {
    background-color: #3b0404;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .container h1 {
        font-size: 1.2rem;
    }

    .container input, .container .reset-button {
        font-size: 0.9rem;
        padding: 10px;
    }
}




.pop-up-container {
    width: 350px;
    padding: 55px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 2px solid black;
    position: fixed;
    z-index: 25;
    background-color: white;
}

.pop-up-container .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pop-up-container .logo img {
    width: 100px;
    height: auto;
}

.pop-up-container h1 {
    font-size: 2.5rem;
    color: #f72119;
    margin-bottom: 10px;
}

.pop-up-container p {
    color: #2e2b2b;
    margin-bottom: 20px;
    font-size: 1rem;
}


.pop-up-container .button {
    background-color: #f72119;
    color: #fff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 80%;
    transition: background 0.3s ease-in-out;
}

.pop-up-container .button:hover {
    background-color: #780606;
}

@media (max-width: 768px) {
    .pop-up-container {
        padding: 15px;
    }

    .pop-up-container h1 {
        font-size: 1.8rem;
    }

    .pop-up-container p {
        font-size: 0.9rem;
    }

    .pop-up-container .button {
        font-size: 0.9rem;
        padding: 10px;
    }
}

.pop-up-container1 {
    width: 350px;
    padding: 55px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 2px solid black;
    position: fixed;
    z-index: 25;
    background-color: white;
}

.pop-up-container1 .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pop-up-container1 .logo img {
    width: 100px;
    height: auto;
}

.pop-up-container1 h1 {
    font-size: 2.5rem;
    color: #0e8d1d;
    margin-bottom: 10px;
}

.pop-up-container1 p {
    color: #2e2b2b;
    margin-bottom: 20px;
    font-size: 1rem;
}


.pop-up-container1 .button {
    background-color: #0e8d1d;
    color: #fff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 80%;
    transition: background 0.3s ease-in-out;
}

.pop-up-container1 .button:hover {
    background-color: #063c0c;
}

@media (max-width: 768px) {
    .pop-up-container1 {
        padding: 15px;
    }

    .pop-up-container1 h1 {
        font-size: 1.8rem;
    }

    .pop-up-container1 p {
        font-size: 0.9rem;
    }

    .pop-up-container1 .button {
        font-size: 0.9rem;
        padding: 10px;
    }
}
